{% extends '@XutimCore/admin/settings/settings_layout.html.twig' %}

{% block title %}
    {{ 'redirects'|trans({}, 'admin')|capitalize }}
{% endblock %}

{% block pageMenu %}
    <twig:Xutim:Admin:Button
        tag="a"
        variant="nav"
        data-turbo-frame="modal"
        href="{{ path('admin_redirect_new') }}"
    >
        <twig:ux:icon name="tabler:directions" class="w-4" />
        {{ 'add a new redirect'|trans({}, 'admin')|capitalize }}
    </twig:Xutim:Admin:Button>
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_settings_site') }}">
                {{ 'settings'|trans({}, 'admin')|capitalize }}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ 'redirects'|trans({}, 'admin')|capitalize }}
        </li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block settingsBody %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-2 py-2">
                {{ 'redirects'|trans({}, 'admin')|capitalize }}
            </h2>
            {%
                component 'Xutim:Admin:DataTable' with {
                        frameId: 'redirect-list',
                        pager: redirects,
                        filter: filter,
                        tableBodyId: 'redirect-list-body',
                    }
            %}
            {% block header %}
                {% import '@XutimCore/admin/common/icons.html.twig' as icons %}
                <th>
                    <a
                        href="{{ path(app.current_route, {...app.request.query.all(), orderColumn: 'source', orderDirection: filter.reverseDirection('source')}) }}"
                    >
                        {{ 'source'|trans({}, 'admin')|capitalize }}
                        {{
                            icons.order_arrow('source', filter.orderColumn, filter.orderDirection)
                        }}
                    </a>
                </th>
                <th>
                    <a
                        href="{{ path(app.current_route, {...app.request.query.all(), orderColumn: 'target', orderDirection: filter.reverseDirection('target')}) }}"
                    >
                        {{ 'target'|trans({}, 'admin')|capitalize }}
                        {{
                            icons.order_arrow('target', filter.orderColumn, filter.orderDirection)
                        }}
                    </a>
                </th>
                {#
                <th>
                    <a
                        href="{{ path(app.current_route, {...app.request.query.all(), orderColumn: 'locale', orderDirection: filter.reverseDirection('locale')}) }}"
                    >
                        {{ 'locale'|trans({}, 'admin')|capitalize }}
                        {{
                            icons.order_arrow('locale', filter.orderColumn, filter.orderDirection)
                        }}
                    </a>
                </th>
                #}
                <th>
                    <a
                        href="{{ path(app.current_route, {...app.request.query.all(), orderColumn: 'permanent', orderDirection: filter.reverseDirection('permanent')}) }}"
                    >
                        {{ 'permanent'|trans({}, 'admin')|capitalize }}
                        {{
                            icons.order_arrow('permanent', filter.orderColumn, filter.orderDirection)
                        }}
                    </a>
                </th>
                <th>
                    {{ 'actions'|trans({}, 'admin')|capitalize }}
                </th>
            {% endblock %}

            {% block body %}
                {% for redirect in redirects %}
                    {{
                        include('@XutimRedirect/admin/redirect/_redirect_row.html.twig')
                    }}
                {% endfor %}
            {% endblock %}
            {% endcomponent %}
        </div>
    </div>
{% endblock %}
